/* =======desktop view======== */
@media (min-width: 1350px) {
}
/* =======desktop and laptop view======== */

@media (max-width: 1024px) {
  p {
    font-size: 15px;
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }
  .activity-check {
    display: none;
  }
  .main-button {
    font-size: 16px;
  }

  .sub-button {
    font-size: 12px;
  }
  /* common style ends   */

  /* header section */

  .navbar-toggler {
    margin-left: 620px;
    margin-top: -70px;
    font-size: 17px;
  }

  .top-header-responsive {
    font-size: 15px;
  }

  .navbar-brand img {
    width: 70%;
    margin-top: 20px;
  }

  /* about section start here */

  /* single portfolio section start here */
  .single-portfolio img {
    width: 80%;
    height: 140px;
  }

  .card-2 img {
    margin-left: 80px;
  }

  .card-3 img {
    margin-left: 40px;
  }

  .accordion-card {
    width: 100%;
  }

  .icon-section {
    margin-left: -10px;
  }

  .icon-card {
    width: 100%;
  }
  /* single portfolio section ends here */
}

/* =======tablets and ipads view======== */
@media (min-width: 769px) and (max-width: 1024px) {
  p {
    font-size: 15px;
  }
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 29px;
  }

  h3 {
    font-size: 23px;
  }
  .news-letter {
    width: 500px;
    margin: 0px;
  }

  .news-letter input {
    width: 200px;
    margin: 0px;
    padding: 8px;
  }

  .post-text {
    align-items: flex-start;
    padding: 0px 0px 0px 0px;
  }
  .message {
    margin-bottom: 20px;
  }
  .activity-check {
    display: none;
  }
  .career-img img {
    width: inherit;
  }
  .career-images {
    margin-left: 0px;
    margin-right: 0px;
  }
  .career-cards {
    margin-bottom: 30px;
  }

  .main-button {
    font-size: 14px;
  }

  .sub-button {
    font-size: 10px;
  }
  /* common style ends   */

  /* header section */

  .navbar-toggler {
    margin-left: 620px;
    margin-top: -70px;
    font-size: 17px;
  }

  .top-header-responsive {
    font-size: 15px;
  }

  .navbar-brand img {
    width: 70%;
    margin-top: 20px;
  }

  /* about section start here */
  .sub-card h2 {
    font-size: 14px;
    height: 55px;
    width: 95%;
  }

  /* advance section start */

  .advance-card {
    height: 940px;
  }

  .advance-submit {
    margin-left: 60px;
  }
  /* advance section ends here */

  /* single portfolio section start here */
  .single-portfolio img {
    width: 80%;
    height: 140px;
  }

  .card-2 img {
    margin-left: 80px;
  }

  .card-3 img {
    margin-left: 40px;
  }

  .accordion-card {
    width: 100%;
  }

  .icon-section {
    margin-left: -10px;
  }

  .icon-card {
    width: 100%;
  }
  /* single portfolio section ends here */
}

/* =======Mobile phones view======== */
@media (max-width: 768px) {
  p {
    font-size: 15px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 21px;
  }
  .news-letter {
    width: 500px;
    margin: 0px;
  }

  .news-letter input {
    width: 150px;
    margin: 0px;
    padding: 6px;
  }

  .post-text {
    align-items: flex-start;
    padding: 0px 0px 0px 0px;
  }
  .activity-check {
    display: none;
  }
  .career-img img {
    width: inherit;
  }
  .career-images {
    margin-left: 0px;
    margin-right: 0px;
  }
  .career-cards {
    margin-bottom: 30px;
  }
  .contract-input {
    width: 100%;
  }
  .contract-textarea {
    width: 100%;
  }
  .main-button {
    font-size: 13px;
  }

  .sub-button {
    font-size: 10px;
  }

  /* common style ends   */

  /* header section */
  .navbar-toggler {
    margin-left: 620px;
    margin-top: -70px;
  }

  .top-header-responsive {
    font-size: 15px;
  }

  .navbar-brand img {
    width: 70%;
    margin-top: 20px;
  }

  /* about section start here */
  .sub-card h2 {
    font-size: 9px;
    height: 55px;
    width: 95%;
  }

  /* single job start here */
  .form-container {
    width: 80%;
    margin-left: 50px;
  }
  .number-box {
    width: 20%;
  }

  /* single job ends here */

  /* advance section start */

  .advance-card {
    height: 970px;
  }

  .advance-submit {
    margin-left: 30px;
  }
  /* advance section ends here */

  /* single portfolio section start here */
  .single-portfolio img {
    width: 80%;
    height: 140px;
  }

  .card-2 img {
    margin-left: 80px;
  }

  .card-3 img {
    margin-left: 40px;
  }

  .accordion-card {
    width: 100%;
  }

  .icon-section {
    margin-left: -10px;
  }

  .icon-card {
    width: 100%;
  }
  /* single portfolio section ends here */
}

/* ============= Small Screen Mobile view=========== */
@media (max-width: 425px) {
  p {
    font-size: 13px;
  }

  h1 {
    font: 30px;
  }
  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 19px;
  }
  .single-post-2 ul {
    font-size: 13px;
  }
  .fa-check {
    font-size: 18px;
    color: rgb(15, 185, 185);
  }
  .news-letter {
    width: 350px;
    margin: 0px;
  }

  .news-letter input {
    width: 150px;
    margin: 0px;
    padding: 6px;
  }

  .post-text {
    align-items: flex-start;
    padding: 0px 0px 0px 0px;
  }
  .message {
    margin-bottom: 20px;
  }
  .activity-check {
    display: none;
  }
  .career-img img {
    width: inherit;
  }
  .career-images {
    margin-left: 0px;
    margin-right: 0px;
  }
  .career-cards {
    margin-bottom: 30px;
  }
  .contract-input {
    width: 100%;
  }
  .contract-textarea {
    width: 100%;
  }
  .service-section-4 {
    margin: 0px;
    padding: 0px;
  }
  .main-button {
    font-size: 12px;
  }

  .sub-button {
    font-size: 9px;
  }

  /* common style ends   */

  /* header section */
  .navbar-toggler {
    margin-left: 270px;
    margin-top: -40px;
    font-size: 15px;
  }
  .top-header-responsive {
    font-size: 10px;
  }
  .email-responsive {
    display: none;
  }

  .navbar-brand img {
    width: 40%;
    margin-top: 20px;
  }

  /* about section start here */
  .about {
    margin-left: -10px;
  }

  .sub-card h2 {
    font-size: 12px;
    height: 55px;
    width: 95%;
  }

  /* single services start here*/
  .single-service-card {
    margin-left: 5px;
  }

  /* single job start here */
  .form-container {
    width: 80%;
    margin-left: 50px;
  }
  .number-box {
    width: 20%;
  }

  /* single job ends here */

  /* advance section start */
  .advance-right-card {
    margin-top: 148px;
  }

  .advance-card {
    height: 940px;
  }

  .advance-submit {
    margin-left: 60px;
  }
  /* advance section ends here */

  /* single portfolio section start here */
  .single-portfolio img {
    width: 80%;
    height: 140px;
  }

  .card-2 img {
    margin-left: 80px;
  }

  .card-3 img {
    margin-left: 40px;
  }

  .accordion-card {
    width: 100%;
  }

  .icon-section {
    margin-left: -10px;
  }

  .icon-card {
    width: 100%;
  }
  /* single portfolio section ends here */
}

@media (max-width: 360px) {
  p {
    font-size: 10px;
  }
  b {
    font-size: small;
    font-weight: 500;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 17px;
  }
  .single-post-2 ul {
    font-size: 10px;
  }
  .news-letter {
    width: 300px;
    margin: 0px;
  }

  .news-letter input {
    width: 150px;
    margin: 0px;
    padding: 6px;
  }

  .post-text {
    align-items: flex-start;
    padding: 0px 0px 0px 0px;
  }
  .date-btn {
    margin-top: -60px;
  }
  .img-btn {
    margin-top: -175px;
  }
  .message {
    margin-bottom: 20px;
  }
  .activity-check {
    display: none;
  }
  .career-img img {
    width: inherit;
  }
  .career-images {
    margin-left: 0px;
    margin-right: 0px;
  }
  .career-cards {
    margin-bottom: 30px;
  }
  .contract-input {
    width: 100%;
  }
  .contract-textarea {
    width: 100%;
  }
  .service-section-4 {
    margin: 0px;
    padding: 0px;
  }
  .main-button {
    font-size: 10px;
  }

  .sub-button {
    font-size: 8px;
  }
  /* common style ends   */

  /* header section */
  .navbar-toggler {
    margin-left: 210px;
    margin-top: -40px;
    font-size: 10px;
  }
  .top-header-responsive {
    font-size: 10px;
  }
  .email-responsive {
    display: none;
  }

  .navbar-brand img {
    width: 40%;
    margin-top: 20px;
  }

  /* about section start here */
  .about {
    margin-left: -40px;
  }

  .sub-card h2 {
    font-size: 12px;
    height: 55px;
    width: 95%;
  }

  /* single services start here*/
  .single-service-card {
    margin-left: 5px;
  }

  /* single job start here */
  .form-container {
    width: 80%;
    margin-left: 50px;
  }
  .number-box {
    width: 20%;
  }

  /* single job ends here */

  /* advance section start here */
  .advance-right-card {
    margin-top: 175px;
  }

  .advance-card {
    height: 920px;
  }

  .advance-submit {
    margin-left: 40px;
  }
  /* advance section ends here */

  /* single portfolio section start here */
  .single-portfolio img {
    width: 80%;
    height: 140px;
  }

  .card-2 img {
    margin-left: 80px;
  }

  .card-3 img {
    margin-left: 40px;
  }

  .accordion-card {
    width: 100%;
  }

  .icon-section {
    margin-left: -10px;
  }

  .icon-card {
    width: 100%;
  }
  /* single portfolio section ends here */
}
